<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
      
      <form action=/update method=post>
        <label>
          Name
          <input name=name value=" <%= info.name %>">
        </label>
        <label>
          Age
          <input name=residence value=" <%= info.residence %>">
        </label>
        <label>
          About myself
          <textarea
            name=description
            rows=5
            aria-valuetext=" <%= info.description %>"
          ></textarea>
        </label>
        <button>Update</button>
      </form>
      
</body>
<footer>
    <%- include('partials/footer'); -%>
</footer>
</html>